/* Styles for buttons */
.buttons-container {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
}

.timer-button {
  padding: 5px 10px;
  margin-right: 20px;
  background-color: #9E1B32;
  color: white;
  border: none;
  border-radius: .325rem;
  cursor: pointer;
}

/* Additional styles for each button */
.start-button {
  background-color: black;
}

.pause-button {
  background-color: black;
}

.reset-button {
  background-color: black;
}

.add-button {
  background-color: black;
}
